@import "tailwindcss";

@theme {
  --color-navy-950: #0a1128;
  --color-navy-900: #0d1b3e;
  --color-navy-800: #13224f;

  --color-brand: #2955d6;
  --color-brand-light: #5b8def;
}

body {
  color: #0a1128;
}